h1 {
  font-family: Georgia, serif;
  color: white;
  text-align: center;
  font-size: 3.8em;
  font-weight: 250;
  padding-top: 150px;
}

h2 {
  font-family: Georgia, serif;
  color: white;
  text-align: center;
  font-size: 3.8em;
  font-weight: 250;
}

h3 {
  font-family: Georgia, serif;
  color: #1e836c;
  text-align: center;
  font-size: 2.5em;
  font-weight: 100;
}

li {
  padding-top: 25px;
}

.yesterday {
  background-color: white;
  height: 100%;
}

.today {
  background-color: #1e836c;
  height: 100%;
}

.tomorrow {
  background-color: white;
  height: 100%;
}

.new-task {
  width: 92%;
  background-color: #1e836c;
  border: none;
  border-bottom: 1px dotted;
  border-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.pencil-btn {
  background-color: #1e836c;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 50px;
  margin-top: 0px;
  margin-left: 25px;
}

.pencil-btn:hover {
  color: white;
}

footer {
  background-color: #1e836c;
  font-family: Georgia, serif;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  vertical-align: center;
}