.todo-list {
  background-color: #1e836c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: white;
  text-align: left;
  padding: 40px 25px 0px 25px;
}

hr {
  border-style: none;
  border-top: solid;
  border-width: 0.5px;
  color: #6fb1a1;
  width: 100%;
}