.do-tomorrow-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #1e836c;
  text-align: left;
  padding: 100px 25px 100px 25px; 
  }

hr {
  border-style: none;
  border-top: solid;
  border-width: 0.5px;
  color: #6fb1a1;
  width: 100%;
}
